.single-feature .details .feature-logo img {
    width: 50px;
    height: 50px;
}

.single-feature .details .feature-logo {
    overflow: hidden;
}

footer.footer-area {
    background-color: #000111;
    color: #fff;
}
.footer-area .copy-right,
footer.footer-area .footer-social span,
footer .widget_nav_menu ul li a,
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    color: #fff;
}

.single-feature .details .title {
    padding-left: 1px;
    font-weight: 600;
    display: -webkit-box;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 56px;
}

.single-feature .thumb {
    max-height: 190px;
}

.rounded-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.single-news .thumb {
    max-height: 300px;
    overflow: hidden;
}

.single-news .thumb img {
    width: 100%;
}

.single-news h4 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
}

.single-news {
    box-shadow: 0 2px 12px #97a1b25e;
}
#map {
    width: 100%;
    height: 300px;
    background-color: grey;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.video-responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.projects_page .single-feature .details .title{
    -webkit-line-clamp: 2;
    height: 40px;
}
.projects_page .single-feature.style-two .thumb img{
 height: auto;
}
.btn-outline-custom{
    color: #176b8f;
    border: 1px solid #176b8f;
}
.ui-slider-horizontal .ui-slider-range{
    background-color: #d48215;
}
.rld-price-slider-wrap .ui-slider-handle {
    height: 15px;
    width: 15px;
    background: var(--main-color-one);
    border: 0;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    top: -5px;
    font-size: 15px;
    line-height: 18px;
    padding: 2px;
}
.download-report{
    padding: 10px;
    background-color: #306b4e;
    color: white;
}
.download-report:hover{color:white}
.navbar-area{
    z-index: 10;
}
.back-to-top {
    bottom: 100px;
}
